<div class="container-fluid col-md-12 mt-5">
<div class="row">
  <h4 class="col-2 text-left" style="background-color: #DDDDDD;">ジャンル編集</h4>
</div>
<div class="row col-md-10 mt-5">
 <%= render "form", genre: @genre %>
</div>
</div>
