<div class="container">
<div class="row">
<div class="col">
<%=image_tag @item.get_item_image(200,200) %>
</div>
<div class="col">
<%=@item.name %>
<%=@item.description %>
¥<%=(@item.price*1.1).floor %>(税込)
</div>
</div>
</div>